# Node.js dependencies
node_modules/

# Backups
backups/

# Archives
archive/

# Database-related files
data/
db/
*.dbml
*.sql

# Logs and debug files
logs/
*/logs/

# Temporary files
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Build or transpiled files
dist/
build/
*.tsbuildinfo

# Generated documentation
###docs/

# Temporary editor/project files
.vscode/
.idea/
*.code-workspace

# Configurations
config/

# Generated or archived scripts
scripts/

# Test outputs and artifacts
tests/

# Generated assets
#*.png
#*.jpg
#*.svg
#*.ico

# Ignore migrations (optional)
###migrations/

# All hidden files (e.g., temporary or config files)
.*

# Safeguard against stupidity
.env

# Archive files
archive/
archive/**

# Exceptions to allow specific files
!.gitignore
!.README.md
!.env.example
!config/config.js
!config/swagger.json
!config/swagger.yaml
!config/swagger.yml
!config/swagger.json